# Virtual environment
venv/
ENV/
env/

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Logs
*.log

# Rasa trained models
models/*.tar.gz

# Local scripts not needed on Render
*.bat

# Excel / dataset files
*.xlsx
*.csv

# IDE files
.vscode/
.idea/
*.iml
